<h1>admin</h1>
<tr>
  <th>ID</th>
  <th>Email</th>
  <th>Actions</th>
</tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>